@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* GLOBAL CSS  */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  --primary: #212121;
  --background: #000000;
  --white: #f0f0f0;
  --green: #71ad00;
  --red: #d10000;
  --orange: #d18800;
  --yellow: #dcbc18;
  --light-blue: #0088d1;

  color: var(--white);
  font-family: "Inter", sans-serif;
}

body {
  min-height: 100vh;
  background: var(--background);
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--green);
}

::-webkit-scrollbar-track {
  background: var(--primary);
}

::-webkit-scrollbar-button {
  display: none;
}

/* -------------------------------------------- */

/* NAVBAR */

nav {
  width: 100%;
  min-height: 60px;
  padding: 2px 10px;
  background: var(--primary);
  display: flex;
  align-items: center;
  gap: 1em;
}

nav .logo {
  flex-basis: 60px;
  flex-shrink: 0;
}
nav .logo img {
  width: 100%;
  height: 40px;
}

nav .title-wrapper {
  flex-basis: 100%;
  flex-shrink: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .title-wrapper .title {
  font-size: calc(1em + 0.8vw);
}

/* -------------------------------------------- */

/* MAIN WRAPPER */

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

main .form-wrapper {
  width: 500px;
  max-width: 100%;
  max-height: 100%;
  padding: 1em 2em;
  background: var(--primary);
}

/* -------------------------------------------- */

/* INPUT ROW */

.form .input-row {
  display: flex;
  width: 100%;
  margin: 1em 0px;
}

/* -------------------------------------------- */

/* FIELD-SELECT COMPONENT */

.input-row field-select {
  width: 100%;
  height: 40px;

  --field-select-color: #fff;
  --field-select-background: #131212;
  --field-select-background-hover: #13121280;
  --field-select-horizontal-padding: 1.5em;
  --field-select-vertical-padding: 1.5em;
  --field-select-option-horizontal-padding: 1.5em;
  --field-select-option-vertical-padding: 0.7em;
  --field-select-option-hover: #3f3f3fbe;
  --field-select-option-min-height: 30px;
  --field-select-scrollbar-width: 4px;
  --field-select-scrollbar-border-radius: 5px;
  --field-select-scrollbar-thumb-background: var(--green);
}

/* -------------------------------------------- */

/* MARKDOWN DISPLAY */

#markdownDisplay {
  position: relative;
  width: 700px;
  max-width: 100%;
  min-height: 400px;
  padding: 1em 2em;
  background: white;
}

#markdownDisplay:empty::before {
  content: "Qui verrà visualizzato il riassunto.\aPer iniziare selezionare una circolare.";
  white-space: pre-wrap;
  color: black;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center;
  font-size: clamp(1rem, 10px, 20pt);
}

/* -------------------------------------------- */

/* OTHER */

.form .document-wrapper {
  width: 100%;
  max-height: 400px;
  background-color: rgba(19, 18, 18, 1);
  margin-top: 3rem;
  padding: 1em;
  border-radius: 10px;
  overflow-y: auto;
}

.form .document-wrapper:empty::after {
  content: "Nessuna circolare disponibile per i campi selezionati";
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  color: rgb(63, 63, 63);
  text-align: center;
}

.document-wrapper .document-row {
  display: flex;
  align-items: center;
  padding: 0.8em 0.5em;
  gap: 2px;
  transition: background-color 0.5s;
  cursor: pointer;
}

.document-wrapper .document-row:hover {
  background-color: rgba(63, 63, 63, 0.747);
}

.document-wrapper .document-row:not(:last-child) {
  border-bottom: 1px solid var(--white);
}

.document-row .document-description {
  display: block;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  transition: all 0.2s;
  user-select: none;
}

.document-row.document-selected .document-description {
  color: var(--green);
  font-weight: bold;
}

.document-row:hover .document-description {
  display: table;
  white-space: wrap;
}

.document-row:hover .document-description::before {
  display: table-cell;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.document-row .document-description::before {
  content: "\f1c1";
  font-family: FontAwesome;
  font-size: 18pt;
  margin: 0px 10px;
}

.input-row .submit-btn {
  flex-basis: 33.33%;
  margin: 0px auto;
  padding: 0.8em;
  color: black;
  cursor: pointer;
}

.input-row .submit-btn:disabled {
  cursor: not-allowed;
}

/* -------------------------------------------- */

/* RESPONSIVE MEDIA QUERIES  */

@media screen and (max-width: 500px) {
  main {
    padding: 0px;
    gap: 0px;
  }

  main .form-wrapper {
    flex-grow: 1;
    height: 100%;
  }

  .input-row .submit-btn {
    flex-basis: 100%;
  }
}
