@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* GLOBAL CSS  */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  --primary: #212121;
  --background: #000000;
  --text: #f0f0f0;
  --empty-text: #222222;

  --green: #71ad00;
  --red: #d10000;
  --orange: #d18800;
  --yellow: #dcbc18;
  --light-blue: #0088d1;

  --scrollbar-width: 4px;
  --border-radius: 5px;
  --transition-time: 0.3s;

  --submit-btn-text: #000000;
  --submit-btn-background: #ffffff;

  --markdown-display-background: #ffffff;

  color: var(--text);
  font-family: "Inter", sans-serif;
}

body {
  min-height: 100vh;
  background: var(--background);
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

::-webkit-scrollbar-thumb {
  background: var(--green);
  border-radius: var(--border-radius);
}

::-webkit-scrollbar-track {
  background: var(--primary);
}

::-webkit-scrollbar-button {
  display: none;
}

/* -------------------------------------------- */

/* NAVBAR, LOGO, TITLE */

nav {
  width: 100%;
  min-height: 60px;
  padding: 2px 10px;
  background: var(--primary);
  display: flex;
  align-items: center;
  gap: 1em;
}

nav .logo {
  position: relative;
  flex-basis: 80px;
  flex-shrink: 0;
}

nav .logo img {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100%;
  aspect-ratio: 1.72;
  transition: opacity var(--transition-time);
}

img[alt="logo"] {
  z-index: 2;
}

img[alt="logo-on-hover"] {
  z-index: 1;
}

nav .logo:hover img[alt="logo"] {
  opacity: 0;
}

nav .title-wrapper {
  flex-basis: 100%;
  flex-shrink: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .title-wrapper .title {
  font-size: calc(1em + 0.8vw);
  cursor: pointer;
  transition: color var(--transition-time);
}

nav .title-wrapper .title:hover {
  color: var(--green);
}

/* -------------------------------------------- */

/* MAIN, FORM, MARKDOWN DISPLAY */

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

main > * {
  width: 500px;
  max-width: 100%;
  min-height: 410px;
  max-height: 100%;
  padding: 1em 2em;
  border-radius: var(--border-radius);
}

main .form {
  background: var(--primary);
}

#markdownDisplay {
  position: relative;
  background: var(--markdown-display-background);
}

#markdownDisplay:empty::before {
  content: "Qui verrà visualizzato il riassunto.\aPer iniziare selezionare una circolare.";
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: var(--empty-text);
  text-align: center;
  font-size: clamp(1rem, 10px, 20pt);
  white-space: pre-wrap;
}

/* -------------------------------------------- */

/* INPUT ROW */

.input-row {
  display: flex;
  width: 100%;
  margin: 1em 0px;
}

/* -------------------------------------------- */

/* FIELD-SELECT COMPONENT */

.input-row field-select {
  width: 100%;
  height: 40px;
  margin: 0.6em 0px;

  --field-select-text: var(--text);
  --field-select-background: #131212;
  --field-select-background-on-hover: #13121280;

  --field-select-horizontal-padding: 1.5em;
  --field-select-vertical-padding: 1.5em;

  --field-select-border-on-focus: var(--green);
  --field-select-border-radius: var(--border-radius);

  --field-select-option-background-on-hover: #3f3f3fbe;

  --field-select-option-height: 30px;

  --field-select-option-horizontal-padding: 1.5em;
  --field-select-option-vertical-padding: 0.7em;

  --field-select-scrollbar-width: var(--scrollbar-width);
  --field-select-scrollbar-thumb-background: var(--green);
  --field-select-scrollbar-track-background: var(--primary);
  --field-select-scrollbar-border-radius: var(--border-radius);
}

/* -------------------------------------------- */

/* DOCUMENT-SELECT COMPONENT */

.input-row document-select {
  width: 100%;
  max-height: 400px;

  --document-select-color: var(--text);
  --document-select-background: #131212;
  --document-select-border-radius: var(--border-radius);
  --document-select-empty-text: var(--empty-text);
  --document-select-empty-padding: 3em;
  --document-select-empty-background: #727272;
  --document-select-row-height: 30px;
  --document-select-row-background-hover: #3f3f3fbe;
  --document-select-row-horizontal-padding: 0.9em;
  --document-select-row-vertical-padding: 1.2em;
  --document-select-row-gap: 0.62em;
  --document-select-row-line-color: var(--text);
  --document-select-active-row: var(--green);
  --document-select-scrollbar-width: var(--scrollbar-width);
  --document-select-scrollbar-thumb-background: var(--green);
  --document-select-scrollbar-track-background: var(--primary);
  --document-select-scrollbar-border-radius: var(--border-radius);
}

/* -------------------------------------------- */

/* SUBMIT-BTN */

.input-row .submit-btn {
  flex-basis: 33.33%;
  margin: 0 auto;
  padding: 0.8em;
  color: var(--submit-btn-text);
  background: var(--submit-btn-background);
  cursor: pointer;
}

.input-row .submit-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* -------------------------------------------- */

/* RESPONSIVE MEDIA QUERIES  */

@media screen and (max-width: 500px) {
  main {
    padding: 0px;
    gap: 0px;
  }

  main .form {
    flex-grow: 1;
    height: 100%;
  }

  .input-row .submit-btn {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 1000px) {
  main {
    flex-direction: column;
  }
}
