@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* GLOBAL CSS  */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  --primary: #212121;
  --background: #000000;
  --white: #f0f0f0;
  --green: #71ad00;
  --red: #d10000;
  --orange: #d18800;
  --yellow: #dcbc18;
  --light-blue: #0088d1;
  --empty-text-gray: #222222;

  --border-radius: 5px;
  --transition-time: 0.5s;

  color: var(--white);
  font-family: "Inter", sans-serif;
}

body {
  min-height: 100vh;
  background: var(--background);
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--green);
}

::-webkit-scrollbar-track {
  background: var(--primary);
}

::-webkit-scrollbar-button {
  display: none;
}

/* -------------------------------------------- */

/* NAVBAR */

nav {
  width: 100%;
  min-height: 60px;
  padding: 2px 10px;
  background: var(--primary);
  display: flex;
  align-items: center;
  gap: 1em;
}

nav .logo {
  position: relative;
  flex-basis: 80px;
  flex-shrink: 0;
}

nav .logo img {
  width: 100%;
  aspect-ratio: 1.72;
}

nav .logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity var(--transition-time);
}

img[alt="logo"] {
  z-index: 2;
}

img[alt="logo-green"] {
  z-index: 1;
}

nav .logo:hover img[alt="logo"] {
  opacity: 0;
}

nav .title-wrapper {
  flex-basis: 100%;
  flex-shrink: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .title-wrapper .title {
  font-size: calc(1em + 0.8vw);
  cursor: pointer;
  transition: color var(--transition-time);
}

nav .title-wrapper .title:hover {
  color: var(--green);
}

/* -------------------------------------------- */

/* MAIN WRAPPER */

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

main .form-wrapper {
  width: 500px;
  max-width: 100%;
  min-height: 410px;
  max-height: 100%;
  padding: 1em 2em;
  background: var(--primary);
  border-radius: var(--border-radius);
}

/* -------------------------------------------- */

/* INPUT ROW */

.input-row {
  display: flex;
  width: 100%;
  margin: 1em 0px;
}

/* -------------------------------------------- */

/* FIELD-SELECT COMPONENT */

.input-row field-select {
  width: 100%;
  height: 40px;
  margin: 0.6em 0px;

  --field-select-color: #fff;
  --field-select-background: #131212;
  --field-select-background-hover: #13121280;
  --field-select-focus-border-color: var(--green);
  --field-select-horizontal-padding: 1.5em;
  --field-select-vertical-padding: 1.5em;
  --field-select-option-horizontal-padding: 1.5em;
  --field-select-option-vertical-padding: 0.7em;
  --field-select-option-hover: #3f3f3fbe;
  --field-select-option-min-height: 30px;
  --field-select-scrollbar-width: 4px;
  --field-select-scrollbar-border-radius: var(--border-radius);
  --field-select-scrollbar-thumb-background: var(--green);
}

/* -------------------------------------------- */

/* MARKDOWN DISPLAY */

#markdownDisplay {
  position: relative;
  width: 500px;
  max-width: 100%;
  min-height: 410px;
  padding: 1em 2em;
  background: white;
  border-radius: var(--border-radius);
}

#markdownDisplay:empty::before {
  content: "Qui verrà visualizzato il riassunto.\aPer iniziare selezionare una circolare.";
  white-space: pre-wrap;
  color: var(--empty-text-gray);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center;
  font-size: clamp(1rem, 10px, 20pt);
}

/* -------------------------------------------- */

/* SUBMIT-BTN */

.input-row .submit-btn {
  flex-basis: 33.33%;
  margin: 0px auto;
  padding: 0.8em;
  color: black;
  cursor: pointer;
  user-select: none;
}

.input-row .submit-btn:disabled {
  cursor: not-allowed;
}

/* -------------------------------------------- */

/* RESPONSIVE MEDIA QUERIES  */

@media screen and (max-width: 500px) {
  main {
    padding: 0px;
    gap: 0px;
  }

  main .form-wrapper {
    flex-grow: 1;
    height: 100%;
  }

  .input-row .submit-btn {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 1000px) {
  main {
    flex-direction: column;
  }
}
