<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Riassunto Circolari</title>
    <link
      rel="icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
      type="image/x-icon"
    />

    <!-- css -->
    <link
      href="{{ url_for('static', filename='css/style.css') }}"
      rel="stylesheet"
    />

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script
      src="{{ url_for('static', filename='scripts/script.js') }}"
      defer
    ></script>

    <!-- Web components -->
    <script
      type="module"
      src="{{ url_for('static', filename='scripts/web components/FieldSelect.js') }}"
    ></script>
    <script
      type="module"
      src="{{ url_for('static', filename='scripts/web components/DocumentSelect.js') }}"
      --
    ></script>
  </head>
  <body>
    <nav>
      <div class="logo">
        <a href="https://www.ispiana.edu.it/" target="_blank">
          <img
            src="{{ url_for('static', filename='assets/images/logo/logo.png') }}"
            alt="logo"
          />
          <img
            src="{{ url_for('static', filename='assets/images/logo/logo-green.png') }}"
            alt="logo-on-hover"
          />
        </a>
      </div>

      <div class="title-wrapper">
        <h1 class="title">Riassunto Circolari</h1>
      </div>
    </nav>

    <main>
      <section id="form">
        <div class="input-row">
          <field-select id="recipient" name="Destinatario"> </field-select>
        </div>

        <div class="input-row">
          <field-select id="class" name="Classe"> </field-select>
        </div>

        <div class="input-row">
          <field-select id="type" name="Tipo"> </field-select>
        </div>

        <div class="input-row">
          <document-select
            id="document"
            icon="{{ url_for('static', filename='assets/icons/document-icon.svg') }}"
          >
          </document-select>
        </div>

        <div class="input-row">
          <button id="submit-btn" disabled>RIASSUMI</button>
        </div>
      </section>

      <section id="markdownDisplay"></section>
    </main>
  </body>
</html>
